%h1 Поиск

- if (@authors && @authors.count > 0) || (@stories && @stories.count > 0) || (@artists && @artists.count > 0) || (@tracks && @tracks.count > 0)
  .tabbable
    %ul.nav.nav-tabs
      %li= link_to "Авторы (#{@authors.count})", "#authors_tab", "data-toggle" => "tab" if @authors && @authors.count > 0
      %li= link_to "Рассказы (#{@stories.count})", "#stories_tab", "data-toggle" => "tab" if @stories && @stories.count > 0
      %li= link_to "Исполнители (#{@artists.count})", "#artists_tab", "data-toggle" => "tab" if @artists && @artists.count > 0
      %li= link_to "Треки (#{@tracks.count})", "#tracks_tab", "data-toggle" => "tab" if @tracks && @tracks.count > 0
    - if @authors && @authors.count > 0
      .tab-content
        .tab-pane#authors_tab
          %table.table.table-striped
            %thead
            %tbody
              = render @authors
    - if @stories && @stories.count > 0
      .tab-content
        .tab-pane#stories_tab
          %table.table.table-striped
            %thead
            %tbody
              = render @stories
    - if @artists && @artists.count > 0
      .tab-content
        .tab-pane#artists_tab
          -#=render @artists
  = content_for :js do
    %script{type: "text/javascript"}
      :plain
        $(document).ready(function(){
          $('ul.nav.nav-tabs a:first').tab('show');
        })
- else
  %h2 По вашему запросу ничего не найдено
