= content_for :sidebar do
  = render "recent/sidebar"

%h1 Рассказы, которые не удалось найти на mds-club.ru
- unless params[:page]
  %h3 Инструкция
  %ol
    %li Смотрим на комментарий
    %li
      Ошибки бывают 2 видов:
      %ul
        %li
          Найдено 0 результатов, попробуйте уточнить название рассказа
          %br
          Нажимаем на кнопку "Искать" и корректируем название в поиске. Если удалось найти рассказ, меняем название рассказа на название с mds-club
        %li
          Найдено несколько результатов, необходимо уточнить
          %br
          В этом случае, по дате можно попробовать понять, какая именно версия играет и отредактировать дату
    %li Исправляем только то, в чем уверены
%table.table.table-striped
  %thead
    %tr
      %th Название
      %th Комментарий
      %th
  %tbody
    - @stories.each do |story|
      %tr
        %td= link_to_story story
        %td= raw story.fetcher_comment
        %td
          - if can_edit?
            = link_to "Ред.", [:edit, story.author, story], :class => 'btn btn-mini', :remote => true
          = link_to "Искать", story.to_search_string, :class => 'btn btn-mini', :target => "_BLANK"

= paginate @stories