.h-full.w-full.max-w-xl.mx-auto.align-middle
  = form_with model: current_user, url: [:profile], class: 'bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4' do |f|
    %h2.text-center
      Редактирование профиля #{current_user.username}
    - if current_user.errors.any?
      %h3 Ошибки при сохранении:
      %ul
      - current_user.errors.each do |error|
        %li= error.full_message
    - label_classes = "block text-sm font-bold mb-2 #{alert ? "text-red-500" : "text-gray-700"}"
    - input_classes = "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline #{alert ? "border-red-500" : nil}"
    .mb-4
      = f.label :email, class: label_classes
      = f.email_field :email, disabled: true, class: input_classes
    .mb-4
      = f.label :username, class: label_classes
      = f.text_field :username, class: input_classes
    .mb-4
      - if current_user.avatar.present?
        = image_tag current_user.avatar.imgproxy_url(width: 100, resizing_type: :fill)
      = f.label :avatar
      = f.hidden_field :avatar, value: current_user.cached_avatar_data
      = f.file_field :avatar
    .flex.items-center.justify-between.content-end
      = f.submit "Сохранить", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 mr-6 rounded focus:outline-none focus:shadow-outline"
      = link_to "Назад", :back, class: "font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline border border-gray-500"
