.h-full.w-full.max-w-xl.mx-auto.align-middle
  = form_with model: current_user, url: [:profile], class: "rounded-box border border-base-300 bg-base-100 p-4 shadow-sm sm:p-6 mb-4" do |f|
    %h2.text-center
      Редактирование профиля #{current_user.username}
    - if current_user.errors.any?
      %h3 Ошибки при сохранении:
      %ul
      - current_user.errors.each do |error|
        %li= error.full_message
    - label_classes = "block text-sm font-bold mb-2 #{alert ? "text-error" : ""}"
    - input_classes = "input input-bordered w-full #{alert ? "input-error" : nil}"
    - file_classes = "file-input file-input-bordered w-full"
    .mb-4
      = f.label :email, class: label_classes
      = f.email_field :email, disabled: true, class: input_classes
    .mb-4
      = f.label :username, class: label_classes
      = f.text_field :username, class: input_classes
    .mb-4
      - if current_user.avatar.present?
        = image_tag current_user.avatar.imgproxy_url(width: 100, resizing_type: :fill)
      = f.label :avatar
      = f.hidden_field :avatar, value: current_user.cached_avatar_data
      = f.file_field :avatar, class: file_classes
    .flex.flex-wrap.items-center.gap-2
      = f.submit "Сохранить", class: "btn btn-primary"
      = link_to "Назад", :back, class: "btn btn-neutral"
