= form_for @artist, :remote => true, :html => {:class => 'form-horizontal'} do |f|
  .modal-header
    %button.close{:type => "button", "data-dismiss" => "modal"}×
    %h3= "#{author_submit_text(@artist)} исполнителя"
  .modal-body
    %p
      .control-group
        = f.label :name, :class => 'control-label'
        .controls
          = f.text_field :name, :class => 'text_field', :placeholder => "Исполнитель"
    = hidden_field_tag :index, params[:index]
  .modal-footer
    = link_to "Назад", "#", :class => "btn", "data-dismiss" => "modal"
    = f.submit author_submit_text(@artist), :class => 'btn btn-primary'