.flex.flex-row.items-center.align-center
  %h1.mr-2
    Артисты
  = link_to "+ Добавить", [:new, :artist], class: "btn btn-ghost"
  .search-pane.flex-1.pl-2.pb-2
    = form_tag artists_path, method: :get, class: 'has-search' do
      = text_field_tag :q, params[:q], placeholder: 'Поиск', class: "input input-bordered"

- if @artists.present?
  .overflow-x-auto.mt-2
    %table.table.w-full.table-compact
      %thead
        %tr
          %th Имя
          %th
      %tbody
        - @artists.each do |artist|
          %tr
            %td
              = link_to [artist] do
                = "#{artist.name} (Треков: #{artist.tracks_count})"

            %td
              - if user_signed_in? && current_user.admin?
                .text-right
                  = link_to [:edit, artist], class: "btn btn-ghost btn-sm" do
                    = image_tag "edit.svg", class: "h-4 w-4"
                  = link_to [artist], data: { turbo_method: :delete, turbo_confirm: "Точно удалить?" }, class: "btn btn-error btn-sm" do
                    = image_tag "trash.svg", class: "h-4 w-4"

  - if @pagy.pages > 1
    .flex.flex-col.items-center
      = raw pagy_nav(@pagy)
- else
  %h3
    Мы не нашли артистов. Может
    = link_to "добавить", [:new, :artist]
    = "?"
