%div
  - css_classes = "block align-baseline font-bold text-xs text-blue-500 hover:text-blue-800"
  - if controller_name != 'sessions'
    = link_to "Войти", new_session_path(resource_name), class: css_classes
  - if devise_mapping.registerable? && controller_name != 'registrations'
    = link_to "Регистрация", new_registration_path(resource_name), class: css_classes
  - if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations'
    = link_to "Забыли пароль?", new_password_path(resource_name), class: css_classes
  - if devise_mapping.confirmable? && controller_name != 'confirmations'
    = link_to "Не получили подтверждение?", new_confirmation_path(resource_name), class: css_classes
  - if devise_mapping.omniauthable?
    - resource_class.omniauth_providers.each do |provider|
      = link_to "Sign in with #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider)