%tr
  %td
    = link_to [author] do
      = "#{author.name} (Рассказов: #{author.stories_count})"

  %td
    - if current_user.admin?
      .text-right
        = link_to [:edit, author], class: "btn btn-neutral btn-sm mr-1" do
          = vite_image_tag "images/edit.svg", class: "h-4 w-4"
        = link_to [author], data: { turbo_method: :delete, turbo_confirm: "Точно удалить?" }, class: "btn btn-error btn-sm" do
          = vite_image_tag "images/trash.svg", class: "h-4 w-4"