.lg:flex.lg:items-center.lg:justify-between
  .min-w-0.flex-1
    %h1.text-2xl.font-bold.leading-7.text-gray-900.sm:truncate.sm:text-3xl.sm:tracking-tight= @title
    - if @metadata.present?
      .mt-1.flex.flex-col{ class: %w(sm:mt-0 sm:flex-row sm:flex-wrap sm:space-x-6) }
        - @metadata.each do |item|
          .mt-2.flex.items-center.text-sm.text-gray-500
            - if item.is_a?(String)
              = item
            - else
              - if item.respond_to?(:inline_svg)
                = item.inline_svg
              - elsif item&.icon
                = vite_image_tag item.icon, class: "w-4 h-4"
              = item.title

  .mt-5.flex.lg:ml-4.lg:mt-0
    - if @buttons.present?
      - @buttons.each do |b|
        = render b

      / Dropdown
      - if mobile_dropdown_buttons.present?
        .relative.ml-3.sm:hidden
          %button#mobile-menu-button.btn.inline-flex.items-center.rounded-md.bg-white.px-3.py-2.text-sm.font-semibold.text-gray-900.shadow-sm.ring-1.ring-inset.ring-gray-300.hover:ring-gray-400{"aria-expanded" => "false", "aria-haspopup" => "true", :type => "button"}
            = "..."
            %svg.-mr-1.h-5.w-5.text-gray-400{"aria-hidden" => "true", :class => "ml-1.5", :fill => "currentColor", :viewbox => "0 0 20 20"}
              %path{"clip-rule" => "evenodd", :d => "M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z", "fill-rule" => "evenodd"}

          .absolute.right-0.z-10.-mr-1.mt-2.w-48.origin-top-right.rounded-md.bg-white.py-1.shadow-lg.ring-1.ring-black.ring-opacity-5{"aria-labelledby" => "mobile-menu-button", "aria-orientation" => "vertical", role: :menu, tabindex: -1}
            - mobile_dropdown_buttons.each_with_index do |b, index|
              = link_to b.title, b.link, role: :menuitem, tabindex: -1, class: %w(block px-4 py-2 text-sm text-gray-700), id: "mobile-menu-item-#{index}"
