- if mobile?
  .card.card-compact.bg-base-100.border.border-base-300.shadow-sm{"data-start-min" => playlist.start_min.present? ? playlist.start_min : nil}
    .card-body.gap-4
      .flex.items-start.justify-between.gap-3
        .min-w-0.space-y-1
          - if main_page?
            .text-sm.font-medium.leading-snug{class: "text-base-content/70"}
              = link_to playlist.story.author.name, [playlist.story.author], class: :link
              = " / "
              = link_to playlist.story.name, [playlist.story.author, playlist.story], class: :link
          .text-base.font-semibold.leading-snug
            - if playlist.track.present?
              = link_to playlist.track.artist.name, [playlist.track.artist], class: :link
              = " - "
              = link_to playlist.track.name, [playlist.track.artist, playlist.track], class: :link
            - else
              Запрос на опознание
        .badge.badge-ghost.shrink-0.text-sm= time_label

      - if playlist.identifier.present?
        .flex.flex-wrap.items-center.gap-1.text-sm{class: "text-base-content/70"}
          %span опознал
          - if playlist.identifier.avatar.present?
            = image_tag playlist.identifier.avatar.imgproxy_url(height: 80, width: 80, resize: :fill), class: "rounded-full w-6 h-6"
          = link_to playlist.identifier.username, [playlist.identifier], class: :link
          .tooltip{"data-tip": l(playlist.created_at, format: "%H:%M %d %B, %Y")}
            %span= "#{time_ago_in_words playlist.created_at} назад"

      - if playlist.track.present?
        .flex.flex-wrap.items-center.gap-2
          = link_to "https://www.youtube.com/results?search_query=#{CGI.escape playlist.search_query}&c[section]=audio", target: :_blank, class: "inline-flex" do
            = helpers.vite_image_tag "images/youtube.svg", class: "h-8 w-8", alt: "Youtube"
          = link_to "https://vk.com/search?c[per_page]=200&c[q]=#{CGI.escape playlist.search_query}&c[section]=audio", target: :_blank, class: "inline-flex" do
            = helpers.vite_image_tag "images/vk.svg", class: "h-8 w-8", alt: "VK"
          = link_to "https://music.yandex.ru/search?text=#{CGI.escape playlist.search_query}", target: :_blank, class: "inline-flex" do
            = helpers.vite_image_tag "images/yandex_music.svg", class: "h-8 w-8", alt: "Яндекс.Музыка"
          = link_to "https://www.discogs.com/search/?q=#{CGI.escape playlist.search_query}&type=all", target: :_blank, class: "inline-flex" do
            = helpers.vite_image_tag "images/discogs.svg", class: "h-8 w-8", alt: "Discogs"
          = link_to "https://open.spotify.com/search/#{playlist.search_query}", target: :_blank, class: "inline-flex" do
            = helpers.vite_image_tag "images/spotify.svg", class: "h-8 w-8", alt: "Spotify"

      - if current_user.present? && current_user.admin?
        .card-actions.justify-end
          = link_to [:edit, author, story, playlist], class: "btn btn-ghost btn-xs" do
            = helpers.inline_icon_tag "images/edit.svg", class: "h-4 w-4"
          = link_to [author, story, playlist], data: { turbo_method: :delete, turbo_confirm: "Точно удалить?" }, class: "btn btn-error btn-xs" do
            = helpers.inline_icon_tag "images/trash.svg", class: "h-4 w-4"
- else
  %tr{"data-start-min" => playlist.start_min.present? ? playlist.start_min : nil}
    %td.align-top
      .flex.flex-col.gap-1
        - if main_page?
          .text-xs{class: "text-base-content/60"}
            = link_to playlist.story.author.name, [playlist.story.author], class: :link
            = " / "
            = link_to playlist.story.name, [playlist.story.author, playlist.story], class: :link
        .leading-snug
          - if playlist.track.present?
            = link_to playlist.track.artist.name, [playlist.track.artist], class: :link
            = " - "
            = link_to playlist.track.name, [playlist.track.artist], class: :link
          - else
            %span.badge.badge-ghost.badge-sm Запрос на опознание
          - if playlist.identifier.present?
            .mt-1.flex.items-center.gap-1.text-xs{class: "text-base-content/60"}
              %span опознал
              - if playlist.identifier.avatar.present?
                = image_tag playlist.identifier.avatar.imgproxy_url(height: 80, width: 80, resize: :fill), class: "rounded-full w-4 h-4"
              = link_to playlist.identifier.username, [playlist.identifier], class: :link
    %td.align-top.whitespace-nowrap
      - if playlist.start_min || playlist.end_min
        .hidden.lg:block
          = "с #{playlist.start_min} мин"
          - if playlist.end_min
            = "по #{playlist.end_min} мин"
        .lg:hidden
          = time_label
      - else
        %span.badge.badge-ghost.badge-sm Не указано
      .hidden.md:block.text-xs{class: "text-base-content/50"}
        .tooltip{"data-tip": l(playlist.created_at, format: "%H:%M %d %B, %Y")}
          = time_ago_in_words playlist.created_at
          назад
    %td.align-top
      - if playlist.track.present?
        .flex.flex-row.items-center.gap-1
          = link_to "https://www.youtube.com/results?search_query=#{CGI.escape playlist.search_query}&c[section]=audio", target: :_blank, class: "inline-flex" do
            = helpers.vite_image_tag "images/youtube.svg", class: "h-8 w-8", alt: "Youtube"
          = link_to "https://vk.com/search?c[per_page]=200&c[q]=#{CGI.escape playlist.search_query}&c[section]=audio", target: :_blank, class: "inline-flex" do
            = helpers.vite_image_tag "images/vk.svg", class: "h-8 w-8", alt: "VK"
          = link_to "https://music.yandex.ru/search?text=#{CGI.escape playlist.search_query}", target: :_blank, class: "inline-flex" do
            = helpers.vite_image_tag "images/yandex_music.svg", class: "h-8 w-8", alt: "Яндекс.Музыка"
          = link_to "https://www.discogs.com/search/?q=#{CGI.escape playlist.search_query}&type=all", target: :_blank, class: "inline-flex" do
            = helpers.vite_image_tag "images/discogs.svg", class: "h-8 w-8", alt: "Discogs"
          = link_to "https://open.spotify.com/search/#{playlist.search_query}", target: :_blank, class: "inline-flex" do
            = helpers.vite_image_tag "images/spotify.svg", class: "h-8 w-8", alt: "Spotify"
    %td.align-top
      - if current_user.present? && current_user.admin?
        .text-right
          = link_to [:edit, author, story, playlist], class: "btn btn-ghost btn-xs" do
            = helpers.inline_icon_tag "images/edit.svg", class: "h-4 w-4"
          = link_to [author, story, playlist], data: { turbo_method: :delete, turbo_confirm: "Точно удалить?" }, class: "btn btn-error btn-xs" do
            = helpers.inline_icon_tag "images/trash.svg", class: "h-4 w-4"
