#author_window.modal.hide
  = form_for @author, :html => { :class => 'form-horizontal' } do |f|
    .modal-header
      %button.close{:type => "button", "data-dismiss" => "modal"}×
      %h3= author_form_header @author
    .modal-body
      %p        
        .control-group
          = f.label :name, :class => 'control-label'
          .controls
            = f.text_field :name, :class => 'text_field', :placeholder => "Автор"
    .modal-footer
      = link_to "Назад", "#", :class => "btn", "data-dismiss" => "modal"
      = f.submit author_submit_text(@author), :class => 'btn btn-primary'