= content_for :head do
  = rel_next_prev_link_tags @authors

= content_for(:title) do
  Авторы
-#
  = content_for :sidebar do
    .well.sidebar-nav
      %ul.nav.nav-list
        %li.nav-header Авторский сайд
        %li= link_to "Link 1", "/path1"
        %li= link_to "Link 2", "/path2"
        %li= link_to "Link 3", "/path3"
= render "filter"
#results
  = render "authors"
