= content_for :seo do
  %meta{name: "description", content: "Страница со списком авторов рассказов игравших в радиопередаче Модель Для Сборки"}
  %meta{name: "keywords", content: "мдс, модель для сборки, что играет, опознать трек, музыка, помощь в опознании, плейлист, список треков, музыка из рассказа, список авторов"}

= content_for :head do
  = rel_next_prev_link_tags @authors

= content_for(:title) do
  Авторы

= render "filter"

#results
  = render "authors"
