.flex.flex-row.items-center.align-center
  .flex-1
    %h1.mr-2
      Авторы
  .flex-1.text-right
    = link_to [:new, :author], class: "btn btn-sm btn-ghost" do
      = image_tag "add.svg", class: "w-4 h-4"
      Добавить
%hr
- if @authors.present?
  .overflow-x-auto.mt-2
    %table.table.w-full.table-compact
      %thead
        %tr
          %th Имя
          %th
      %tbody
        - @authors.each do |author|
          %tr
            %td
              = link_to [author] do
                = "#{author.name} (Рассказов: #{author.stories_count})"

            %td
              - if current_user.present? && current_user.admin?
                .text-right
                  = link_to [:edit, author], class: "btn btn-ghost btn-sm" do
                    = image_tag "edit.svg", class: "h-4 w-4"
                  = link_to [author], data: { turbo_method: :delete, turbo_confirm: "Точно удалить?" }, class: "btn btn-error btn-sm" do
                    = image_tag "trash.svg", class: "h-4 w-4"

  - if @pagy.pages > 1
    .flex.flex-col.items-center
      = raw pagy_nav(@pagy)
- else
  %h3
    Мы не нашли авторов. Может
    = link_to "добавить", [:new, :author]
    = "?"
