.flex.flex-row.items-center
  .flex-1.flex.flex-row.items-center
    .flex
      %h1.mr-2= @author.name
    .flex
      = link_to [:edit, @author], class: "btn btn-sm btn-ghost" do
        = vite_image_tag "images/edit.svg", class: "h-4 w-4"
        ред.
      
  .flex-1.text-right
    = link_to :back, class: "btn btn-sm btn-ghost" do
      = vite_image_tag "images/arrow_left.svg", class: "h-4 w-4"
      назад
%hr/
- if @author.description.present?
  = raw @author.description

.flex.flex-row.items-center
  %h2.mr-2.flex-row.flex-1 Рассказы
  .flex.text-right.flex= link_to "+ Добавить", [:new, @author, :story], class: "btn btn-sm btn-ghost flex-row"
%hr.py-2
- if @stories.present?
  .overflow-x-auto
    %table.table.w-full.table-compact
      %thead
        %tr
          %th Название
          %th
      %tbody
        - @stories.each do |story|
          %tr
            %td
              = link_to [@author, story] do
                = "#{story.name} (#{story.completed ? 'Полностью' : story.playlists_count})"

            %td
              - if current_user.present? && current_user.admin?
                .text-right
                  = link_to [:edit, @author, story], class: "btn btn-ghost btn-sm" do
                    = vite_image_tag "images/edit.svg", class: "h-4 w-4"
                  = link_to [@author, story], data: { turbo_method: :delete, turbo_confirm: "Точно удалить?" }, class: "btn btn-error btn-sm" do
                    = vite_image_tag "images/strash.svg", class: "h-4 w-4"

  - if @pagy.pages > 1
    .flex.flex-col.items-center.my-2
      = raw pagy_nav(@pagy)
- else
  %h2 У этого автора пока нет рассказов.
  %p
    Может
    = link_to "+ добавить", [:new, @author, :story], class: "link link-primary"
    = "?"