%h1 Участники проекта
.search-pane
  = form_tag users_path, method: :get do
    = text_field_tag :search, params[:search], placeholder: "Поиск"

%table
  - @users.each do |user|
    %tr
      %td
        .avatar
          - if user.avatar.present?
            = image_tag user.avatar_url(:small), width: 32
      %td
        .title
          = link_to [user] do
            = user.username
        .user-text
          Опознал треков: 
          -#{Playlist.where(identified_by: user.id).where("track_id is not null").count}

- if @pagy.pages > 1
  = raw pagy_bootstrap_nav(@pagy)
  -# = raw pagy_bootstrap_responsive_nav(@pagy)
  -# = raw pagy_bootstrap_compact_nav(@pagy)
