%h1 Участники проекта
.search-pane
  = form_tag users_path, method: :get do
    = text_field_tag :search, params[:search], placeholder: "Поиск"


.list-group
  - @users.each do |user|
    = link_to [user], class: ['list-group-item', 'list-group-action'] do
      .d-flex.w-100.justify-content-between
        - if user.avatar.present?
          = image_tag user.avatar.imgproxy_url(width: 30, height: 30, resizing_type: :fill), class: ['rounded-circle', 'z-depth-0']
        %h5.mb-1= user.username
        %small= "#{time_ago_in_words(user.created_at)} на сайте"
      %p.mb-1
        Опознал треков: 3
        -#{Playlist.where(identified_by: user.id).where("track_id is not null").count}

- if @pagy.pages > 1
  = raw pagy_bootstrap_nav(@pagy)
  -# = raw pagy_bootstrap_responsive_nav(@pagy)
  -# = raw pagy_bootstrap_compact_nav(@pagy)
