%h2 Забыли пароль?

= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|
  = devise_error_messages!

  .control-group
    = f.label :email, :class => 'control-label'
    .controls
      = f.text_field :email, :class => 'text_field'
  .form-actions
    = f.submit "Отправить инструкции", :class => 'btn btn-primary', :disable_with => "Отправляем инструкции ..."

= render :partial => "devise/shared/links"