%tr
  %td
    = link_to playlist.story.author.name, [playlist.story.author, :stories]
    = " - "
    = link_to playlist.story.name, [playlist.story.author, playlist.story]
    %br
    = link_to_artist_track playlist
    с #{playlist.startmin} по #{playlist.endmin} мин
    = " by" if playlist.try(:identifier)
    %strong=link_to_playlist_user playlist
    = search_links playlist
  %td
    = link_to "Ред.", edit_author_story_playlist_path(playlist.story.author, playlist.story, playlist), :class => "btn btn-mini", :remote => true
    = link_to "Удалить", [playlist.story.author, playlist.story, playlist], :method => :delete, :class => "btn btn-mini btn-danger", :confirm => "Точно удалить?"
