= content_for :sidebar do
  %ul.nav.nav-list
    %li.nav-header
      Новости
    %li{:class => ["#{'active' if action_name == 'index'}"]}
      =link_to recent_path do
        Все
    %li{:class => ["#{'active' if action_name == 'identified'}"]}
      =link_to recent_identified_path do
        Опознанные
    %li{:class => ["#{'active' if action_name == 'requests'}"]}
      =link_to recent_requests_path do
        Запросы
    %li{:class => ["#{'active' if action_name == 'unparsed'}"]}
      =link_to unparsed_path do
        - help_count = Story.where("(updated_at - interval '1 minute') < last_fetched_at and last_fetched_at is not null and parsed is false and fetcher_comment is not null").count
        - if help_count > 0
          = "Помощь (#{help_count})"
        - else
          = "Помощь"