#story_window.modal.hide
  = form_for [@author, @story], :html => { :class => 'form-horizontal' } do |f|
    .modal-header
      %button.close{:type => "button", "data-dismiss" => "modal"}×
      %h3= story_form_header @story
    .modal-body
      %p        
        .control-group
          = f.label :name, :class => 'control-label'
          .controls
            = f.text_field :name, :class => 'text_field', :placeholder => "Название рассказа"
        .control-group
          = f.label :link, :class => 'control-label'
          .controls
            = f.text_field :link, :class => 'text_field', :placeholder => "Ссылка"
        .control-group
          = f.label :date, :class => 'control-label'
          .controls
            = f.date_select :date, {:start_year => 1995}, {:class => "input-small inline"}
        .control-group
          = f.label :radio, :class => 'control-label'
          .controls
            = f.select :radio, [["Станция 2000", 0], ["Муз ТВ", 1], ["Серебряный дождь", 2], ["Энергия", 3], ["Пионер ФМ", 4]], :include_blank => true, :class => 'text_field'
        .control-group
          = f.label :completed, :class => 'control-label'
          .controls
            = f.check_box :completed, :class => 'check_box'
    .modal-footer
      = link_to "Назад", "#", :class => "btn", "data-dismiss" => "modal"
      = f.submit story_submit_text(@story), :class => 'btn btn-primary'