.h-full.w-full.max-w-xl.mx-auto.align-middle
  %h1.text-center.pt-8
    - if @story.persisted?
      Редактровать рассказ
    - else
      Добавить рассказ

  = form_with model: [@author, @story], class: 'shadow-md rounded px-8 pt-6 pb-8 mb-4' do |f|
    - if @story.errors.any?
      .mb-4
        %span Ошибки при сохранении: #{@story.errors.size}
        %ul.list-disc.pl-4
          - @story.errors.each do |error|
            %li= error.full_message

    - label_classes = "block text-sm font-bold mb-2 #{alert ? "text-red-500" : ""}"
    - input_classes = "input input-bordered shadow appearance-none border rounded w-full py-2 px-3 leading-tight focus:outline-none focus:shadow-outline #{alert ? "border-red-500" : nil}"

    .mb-4
      = f.label :name, "Название", class: label_classes
      = f.text_field :name, autofocus: true, autocomplete: :off, class: input_classes, placeholder: "Название рассказа"
    - if current_user.admin?
      .mb-4
        = f.label :image, "Изображение", class: label_classes
        - if @author.image.present?
          = vite_image_tag @story.image.imgproxy_url(width: 100, resizing_type: :fill)
        = f.hidden_field :image, value: @story.cached_image_data
        = f.file_field :image
      .mb-4
        = f.label :radio, "Место", class: label_classes
        = f.select :radio, options_for_select(Story.radios.map {|key, value| [Story.human_enum_name(:radios, key),  key.to_sym]}, selected: @story.radio), include_blank: "Не выбрано", class: input_classes
      .mb-4
        = f.label :date, class: label_classes
        = f.date_select :date, class: input_classes
      .mb-4
        = f.label :description, "Описание", class: label_classes
        = f.text_area :description, autocomplete: :off, class: input_classes, placeholder: "Введите описание"
      .mb-4.flex.flex-row.items-center.gap-1
        = f.check_box :completed, class: :checkbox
        = f.label :completed, "Опознан полностью?"
      .mb-4
        = f.label :external_audio_url, class: label_classes
        = f.text_field :external_audio_url, class: input_classes, placeholder: "Внешняя ссылка на mp3. Чтобы можно было слушать на сайте"
        

    = f.submit "Сохранить", class: "btn btn-primary"
    = link_to "Назад", :back, class: "btn btn-neutral"