= content_for :seo do
  %meta{name: "description", content: "Рассказы #{@author.name} и музыка из них в радиопередаче Модель для Сборки"}
  %meta{name: "keywords", content: "мдс, модель для сборки, что играет, опознать трек, музыка, помощь в опознании, плейлист, список треков, музыка из рассказа, #{@author.name}"}

= content_for(:title) do
  = @author.name
%h1
  = link_to "+", new_author_story_path(@author), :class => 'btn btn-primary', :remote => true
  = @author.name.capitalize
  - if can_edit?
    = link_to "Ред.", edit_author_path(@author), :class => 'btn btn-mini', :remote => true
  - if can_destroy?
    = link_to "Удалить", author_path(@author), :method => :delete, :confirm => "Точно удалить?", :class => 'btn btn-mini btn-danger'


%table.table.table-striped
  %thead
    %tr
      %th Название
      %th Дата
      %th Радио
      %th
  %tbody
    =render @stories

= paginate @stories