.flex.flex-row.items-center
  .flex-auto.flex.flex-row.items-center
    %h1.mr-2
      = link_to @author.name, [@author], class: :link
      = "-"
      = @story.name
    - if current_user.admin?
      = link_to [:edit, @author, @story], class: "btn btn-sm btn-neutral" do
        = vite_image_tag "images/edit.svg", class: "w-4 h-4"
        ред.
  .flex-auto.text-right
    = link_to :back, class: "btn btn-sm btn-neutral" do
      = vite_image_tag "images/arrow_left.svg", class: "h-4 w-4"
      назад

%ul.list-disc.pl-2
  - if @story.date.present?
    %li
      Дата эфира:
      = l @story.date, format: "%d %B, %Y"
  - if @story.radio.present?
    %li
      Радио:
      = Story.human_enum_name(:radio, @story.radio)

- if @story.description.present?
  = raw @story.description

%hr/

.flex.flex-row.items-center
  .flex-auto
    %h2.mr-2 Плейлист
  .flex-auto.flex.flex-row.items-center.align-right.justify-end.gap-1
    = link_to [:new, @author, @story, :playlist], class: "btn btn-sm btn-neutral" do
      = vite_image_tag "images/add.svg", class: "w-4 h-4"
      Опознать трек
    = link_to "Что играет?", [:new, @author, @story, :playlist, playlist: { request: true }], class: "btn btn-sm btn-neutral"
%hr.py-2
- if @playlists.present?
  .overflow-x-auto
    %table.table.w-full.table-compact
      %thead
        %tr
          %th Название
          %th Время
          %th Слушать
          %th
      %tbody
        - @playlists.each do |playlist|
          %tr{"data-start-min" => playlist.start_min.present? ? playlist.start_min : nil}
            %td
              - if playlist.track.present?
                .flex.flex-col.items-left
                  .link
                    = link_to playlist.track.artist.name, [playlist.track.artist], class: :link
                    = "-"
                    = link_to playlist.track.name, [playlist.track.artist, playlist.track], class: :link
                  - if playlist.identifier.present?
                    .no-flex
                      опознал
                      - if playlist.identifier.avatar.present?
                        = image_tag playlist.identifier.avatar.imgproxy_url(height: 80, width: 80, resize: :fill), class: "avatar rounded-full w-4 h-4"
                      = link_to playlist.identifier.username, [playlist.identifier], class: :link
              - else
                Запрос на опознание
            %td
              - if playlist.start_min || playlist.end_min
                .hidden.lg:block
                  = "с #{playlist.start_min} мин"
                  - if playlist.end_min
                    = "по #{playlist.end_min} мин"
                .lg:hidden
                  = "с #{playlist.start_min}"
                  - if playlist.end_min
                    = "по #{playlist.end_min}"
              - else
                Не указано
              .hidden.md:block
                .tooltip{"data-tip": l(playlist.created_at, format: "%H:%M %d %B, %Y")}
                  = time_ago_in_words playlist.created_at
                  назад
            %td
              - if playlist.track.present?
                .flex.flex-row.items-center
                  = link_to "https://www.youtube.com/results?search_query=#{CGI.escape playlist.search_query}&c[section]=audio", target: :_blank, class: "md:px-1 px-0" do
                    = vite_image_tag "images/youtube.svg", width: 32, height: 32, alt: "Youtube"
                  = link_to "https://vk.com/search?c[per_page]=200&c[q]=#{CGI.escape playlist.search_query}&c[section]=audio", target: :_blank, class: "md:px-1 px-0" do
                    = vite_image_tag "images/vk.svg", width: 32, height: 32, alt: "VK"
                  = link_to "https://music.yandex.ru/search?text=#{CGI.escape playlist.search_query}", target: :_blank, class: "md:px-1 px-0" do
                    = vite_image_tag "images/yandex_music.svg", width: 32, height: 32, alt: "Яндекс.Музыка"
                  = link_to "https://www.discogs.com/search/?q=#{CGI.escape playlist.search_query}&type=all", target: :_blank, class: "md:px-1 px-0" do
                    = vite_image_tag "images/discogs.svg", width: 32, height: 32, alt: "Discogs"
                  = link_to "https://open.spotify.com/search/#{playlist.search_query}", target: :_blank, class: "md:px-1 px-0" do
                    = vite_image_tag "images/spotify.svg", width: 32, height: 32, alt: "Spotify"
            %td
              - if current_user.present? && current_user.admin?
                .text-right
                  = link_to [:edit, @author, @story, playlist], class: "btn btn-neutral btn-sm mr-1" do
                    = vite_image_tag "images/edit.svg", class: "h-4 w-4"
                  = link_to [@author, @story, playlist], data: { turbo_method: :delete, turbo_confirm: "Точно удалить?" }, class: "btn btn-error btn-sm" do
                    = vite_image_tag "images/trash.svg", class: "h-4 w-4"
- else
  %h2 В этом рассказе пока нет опознанных треков.
  %p
    Может
    = link_to "опознать", [:new, @author, @story, :playlist], class: "link link-primary"
    = "?"

- if false
  .w-full.flex.flex-row{ data: { turbo_permanent: true } }
    = audio_tag "http://mds.mds-club.ru/Slushatel_Svetlana_-_Perimetr.mp3", controls: true, data: { turbo_permanent: true }, style: "width: 80%"
    .align-center= "#{@author.name} - #{@story.name}"
