.flex.flex-row.items-center
  %h1.mr-2
    = link_to @author.name, [@author], class: :link
    = "-"
    = @story.name
  = link_to "ред", [:edit, @author, @story], class: "btn btn-ghost"
%ul.list-disc.pl-2
  - if @story.date.present?
    %li
      Дата эфира:
      = l @story.date, format: "%d %B, %Y"
  - if @story.radio.present?
    %li
      Радио:
      = Story.human_enum_name(:radio, @story.radio)

- if @story.description.present?
  = raw @story.description

.flex.flex-row.items-center
  %h2.mr-2.flex-row Плейлист
  = link_to "+ Опознать трек", [:new, @author, @story, :playlist], class: "btn btn-ghost flex-row"
  = link_to "Что играет?", [:new, @author, @story, :playlist, playlist: { request: true }], class: "btn btn-ghost flex-row"

- if @playlists.present?
  .overflow-x-auto
    %table.table.w-full.table-compact
      %thead
        %tr
          %th Название
          %th Время
          %th Слушать
          %th
      %tbody
        - @playlists.each do |playlist|
          %tr{"data-start-min" => playlist.start_min.present? ? playlist.start_min : nil}
            %td
              - if playlist.track.present?
                .flex.flex-col.items-left
                  .link
                    = link_to playlist.track.artist.name, [playlist.track.artist], class: :link
                    = "-"
                    = link_to playlist.track.name, [playlist.track.artist, playlist.track], class: :link
                  - if playlist.identifier.present?
                    .no-flex
                      опознал
                      - if playlist.identifier.avatar.present?
                        = image_tag playlist.identifier.avatar.imgproxy_url(height: 80, width: 80, resize: :fill), class: "avatar rounded-full w-4"
                      = link_to playlist.identifier.username, [playlist.identifier], class: :link
              - else
                Запрос на опознание
            %td
              - if playlist.start_min || playlist.end_min
                = "с #{playlist.start_min} мин"
                - if playlist.end_min
                  = "по #{playlist.end_min} мин"
              - else
                Не указано
            %td
              - if playlist.track.present?
                .flex.flex-row.items-center
                  = link_to "https://vk.com/search?c[per_page]=200&c[q]=#{playlist.track.artist.name} - #{playlist.track.name}&c[section]=audio", target: :_blank do
                    = image_tag "vk.svg", width: 32, height: 32, alt: "VK"
                  = link_to "https://music.yandex.ru/search?text=#{playlist.track.artist.name} - #{playlist.track.name}", target: :_blank do
                    = image_tag "yandex_music.svg", width: 32, height: 32, alt: "Яндекс.Музыка"
                  = link_to "https://www.discogs.com/search/?q=#{playlist.track.artist.name} - #{playlist.track.name}&type=all", target: :_blank do
                    = image_tag "discogs.svg", width: 32, height: 32, alt: "Discogs"
                  = link_to "https://open.spotify.com/search/#{playlist.track.artist.name} - #{playlist.track.name}", target: :_blank do
                    = image_tag "spotify.svg", width: 32, height: 32, alt: "Spotify"
            %td
              - if user_signed_in? && current_user.admin?
                .text-right
                  = link_to "Ред", [:edit, @author, @story, playlist], class: "btn btn-ghost btn-sm"
                  = link_to "Удалить", [@author, @story, playlist], data: { turbo_method: :delete, turbo_confirm: "Точно удалить?" }, class: "btn btn-error btn-sm"
- else
  %h2 В этом рассказе пока нет опознанных треков.
  %p
    Может
    = link_to "опознать", [:new, @author, @story, :playlist], class: "link link-primary"
    = "?"

- if false
  .w-full.flex.flex-row
    = audio_tag "http://mds.mds-club.ru/Slushatel_Svetlana_-_Perimetr.mp3", controls: true, data: { turbo_permanent: true }, style: "width: 80%"
    .align-center= "#{@author.name} - #{@story.name}"
