%h2 Вход в систему
= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
  .control-group
    .controls
      = f.text_field :login, :class => 'text_field', :placeholder => "E-mail или ник"
  .control-group
    .controls
      = f.password_field :password, :class => 'text_field', :placeholder => "Пароль"
  - if devise_mapping.rememberable?
    .control-group
      = f.label :avatar, :class => 'checkbox' do
        = f.check_box :remember_me
        Запомнить меня
  .form-actions
    = f.submit "Войти", :class => 'btn btn-primary'
= render :partial => "devise/shared/links"