= turbo_frame_tag :player, class: "w-max mt-0" do
  - if play_item&.external_audio_url
    %div.sticky.bottom-0.z-10.bg-base-200{data: { "turbo-permanent": "", controller: "player", "player-position" => session[:play_position], "player-playing-class" => "player-playing"}}
      - attrs = {data: {"player-target": "player"}}
      - attrs[:autoplay] = "1" if @autoplay
      %audio#audio_tag{**attrs}
        %source{src: play_item.external_audio_url, type: "audio/mpeg"}
      .flex.flex-col
        .player--timeline{"data-action" => "click->player#seek"}
          %progress.progress.px-1{value: 0, max: 100, data: {"player-target"=>"progress"}}
        .info.flex.flex-row.items-center.gap-1
          .flex-none
            %span{class: "btn btn-sm", data: { action: 'click->player#play', "player-target" => "play" }}
              = vite_image_tag "images/play.svg", class: "h-6 w-6"
            %span{class: "btn btn-sm hidden", data: { action: 'click->player#pause', "player-target" => "pause" }}
              = vite_image_tag "images/pause.svg", class: "h-6 w-6"
          - if play_item.respond_to?(:image) && play_item.image.present?
            .flex-none
              .avatar
                .w-10.rounded= image_tag play_item.image.imgproxy_url(width: 100, resize: :fill)
          .flex-grow
            - if play_item.is_a?(Track)
              = link_to play_item.artist.name, [play_item.artist], data: {"turbo-frame": "_top"}
              " - "
              = link_to play_item.name, [play_item.artist, play_item], data: {"turbo-frame": "_top"}
            - elsif play_item.is_a?(Story)
              = link_to play_item.author.name, [play_item.author], class: "link", data: {"turbo-frame": "_top"}
              = " - "
              = link_to play_item.name, [play_item.author, play_item], class: "link", data: {"turbo-frame": "_top"}
              %br
              .current-track
                Meduza - Ololo
                -# = link_to play_item.artist.name, [play_item.artist]
                -# " - "
                -# = link_to play_item.name, [play_item.artist, play_item]
          .flex-none.indicator{class: "mr-4"}
            %span.indicator-item
              = button_to [:player], class: [:link, :flex, "items-center"], method: :delete do
                = vite_image_tag "images/close.svg", class: "h-6 w-6"
            %div
              %span{data: {"player-target" => "time"}} 00:00
              %span &nbsp; / &nbsp;
              %span{data: {"player-target" => "duration"}}
