.h-full.w-full.max-w-xl.mx-auto.align-middle
  = form_with(model: @session, url: url_for(action: 'new'), class: "rounded-box border border-base-300 bg-base-100 p-4 shadow-sm sm:p-6 mb-4") do |f|
    %h2.text-center
      Вход на сайт

    - label_classes = "block text-sm font-bold mb-2 #{alert ? "text-error" : ""}"
    - input_classes = "input input-bordered w-full #{alert ? "input-error" : nil}"
    - email_field_name = :"passwordless[#{email_field}]"
    .mb-4
      = f.label email_field_name, t("passwordless.sessions.new.email.label"), class: label_classes
      = email_field_tag email_field_name, params.fetch(email_field_name, nil), class: input_classes
    .flex.flex-wrap.items-center.gap-2
      = f.submit "Получить ссылку", class: "btn btn-primary", data: { turbo_submits_with: "Отправляем ссылку", disable_with: "Отправляем ссылку" }
      = link_to "Назад", :back, class: "btn btn-neutral"
