.h-full.w-full.max-w-xl.mx-auto.align-middle
  = form_with model: @session, url: send(Passwordless.mounted_as).sign_in_path, class: 'bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4', data: { turbo: false } do |f|
    %h2.text-center
      Вход на сайт

    - label_classes = "block text-sm font-bold mb-2 #{alert ? "text-red-500" : "text-gray-700"}"
    - input_classes = "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline #{alert ? "border-red-500" : nil}"
    - email_field_name = :"passwordless[#{@email_field}]"
    .mb-4
      = f.label :email, class: label_classes
      = email_field_tag email_field_name, params.fetch(email_field_name, nil), class: input_classes
    .flex.items-center.justify-between.content-end
      = f.submit "Получить ссылку", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 mr-6 rounded focus:outline-none focus:shadow-outline"
      = link_to "Назад", :back, class: "font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline border border-gray-500"
