.h-full.w-full.max-w-xl.mx-auto.align-middle
  %h1.text-center.pt-8
    Вход по ссылке

  = form_with(model: @session, url: url_for(action: 'update'), scope: 'passwordless', method: 'patch', class: "rounded-box border border-base-300 bg-base-100 p-4 shadow-sm sm:p-6 mb-4") do |f|
    - if @session.errors.any?
      .mb-4
        %span Ошибки при сохранении: #{@session.errors.size}
        %ul.list-disc.pl-4
          - @session.errors.each do |error|
            %li= error.full_message

    - label_classes = "block text-sm font-bold mb-2 #{alert ? "text-error" : ""}"
    - input_classes = "input input-bordered w-full #{alert ? "input-error" : nil}"

    .mb-4
      Мы отправили вам емейл со ссылкой.
      %br/
      Для входа на сайт введите токен из письма или перейдите по ссылке.

    .mb-4
      = f.label :token, class: label_classes, autocomplete: "off"
      = f.text_field :token, autocomplete: :off, class: input_classes
    = f.submit t(".confirm"), class: "btn btn-primary"
