- if user_signed_in?
  = link_to current_user.username, edit_user_registration_path
  = link_to 'Выход', destroy_user_session_path, method: :delete
- else
  = link_to 'Регистрация', new_user_registration_path
  = link_to 'Вход', new_user_session_path
  = link_to "Забыли пароль?", new_password_path('user')
