.pull-right
  %ul.nav.pull-right.navbar-right
    - if user_signed_in?
      %li.nav-item.dropdown
        = link_to edit_user_registration_path, class: 'nav-link' do
          - if current_user.avatar.present?
            = image_tag current_user.avatar.imgproxy_url(width: 30, height: 30, resizing_type: :fill), width: 30, class: ['rounded-circle', 'z-depth-0']
          = current_user.username
      %li.nav-item= link_to 'Выход', destroy_user_session_path, method: :delete, class: 'nav-link'
    - else
      %li.nav-item= link_to 'Регистрация', new_user_registration_path, class: 'nav-link'
      %li.nav-item= link_to 'Вход', new_user_session_path, class: 'nav-link'
