%nav.navbar.navbar-expand-lg.navbar-light.bg-light
  .container-fluid
    = link_to root_url, class: ['navbar-brand', 'd-flex', 'align-items-center'] do
      %strong МДС Музыка
    %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-bs-target" => "#mainNavbar", "data-bs-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon
    #mainNavbar.collapse.navbar-collapse
      %ul.navbar-nav.mr-auto
        %li.nav-item
          - active = %w(authors stories).include?(controller_name)
          - attrs = { class: ['nav-link', "#{'active' if active}"] }
          - attrs.merge!('aria-current' => 'page') if active
          = link_to [:authors], attrs do
            = 'Книги'
        %li.nav-item
          - attrs = { class: ['nav-link', "#{'active' if controller_name == 'users'}"] }
          - attrs.merge!('aria-current' => 'page') if controller_name == 'users'
          = link_to [:users], attrs do
            = 'Участники'

    = render 'logins'
