- if play_item&.external_audio_url
  = turbo_frame_tag :player, class: %w(w-max), data: { "turbo-permanent": "", controller: "player", play_item: session[:playing], "player-playing-class" => "player-playing", "track-outlet" => ".track"} do
    %audio#audio_tag{data: {"player-target": "player"}}
      %source{src: play_item.external_audio_url, type: "audio/mpeg"}
    .flex.flex-col
      .player--timeline{"data-action" => "click->player#seek"}
        %progress.progress.px-1{value: 0, max: 100, data: {"player-target"=>"progress"}}
      .info.flex.flex-row.items-center
        .flex-none
          %span{class: "btn", data: { action: 'click->player#play', "player-target" => "play" }}
            = vite_image_tag "images/play.svg", class: "h-6 w-6"
          %span{class: "btn hidden", data: { action: 'click->player#pause', "player-target" => "pause" }}
            = vite_image_tag "images/pause.svg", class: "h-6 w-6"
        .flex-none
          - if play_item.is_a?(Track)
            = link_to play_item.artist.name, [play_item.artist], data: {"turbo-frame": "_top"}
            " - "
            = link_to play_item.name, [play_item.artist, play_item], data: {"turbo-frame": "_top"}
          - elsif play_item.is_a?(Story)
            = link_to play_item.author.name, [play_item.author], class: "link", data: {"turbo-frame": "_top"}
            = " - "
            = link_to play_item.name, [play_item.author, play_item], class: "link", data: {"turbo-frame": "_top"}
            %br
            .current-track
              Meduza - Ololo
              -# = link_to play_item.artist.name, [play_item.artist]
              -# " - "
              -# = link_to play_item.name, [play_item.artist, play_item]
      