!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) : "Mds"
    = csrf_meta_tags
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "http://html5shim.googlecode.com/svn/trunk/html5.js"
    = stylesheet_link_tag "application", :media => "all"
    -#%link(href="images/favicon.ico" rel="shortcut icon")
    %link(href="images/apple-touch-icon.png" rel="apple-touch-icon")
    %link(href="images/apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72")
    %link(href="images/apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114")

  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container-fluid
          %a.btn.btn-navbar(data-target=".nav-collapse" data-toggle="collapse")
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand(href="/") МДС Музыка
          .container.nav-collapse
            %ul.nav
              %li= link_to "Авторы", authors_path
              %li= link_to "Исполнители", "/path2"
            = form_tag search_path, class: "navbar-form pull-left" do
              = text_field_tag :search, params[:search], placeholder: "Что ищем?", class: "input"

            %ul.nav.pull-right
              - if user_signed_in?
                %li.dropdown
                  = link_to "#", :class => "dropdown-toggle", "data-toggle" => "dropdown" do
                    = image_tag current_user.avatar.size_20.url, class: 'size_20' if current_user.avatar.url

                    = current_user.username
                    %b.caret
                  %ul.dropdown-menu
                    %li
                      = link_to edit_user_registration_path do
                        %i.icon-user
                        Профиль
                    %li
                      = link_to my_requests_path do
                        %i.icon-map-marker
                        Мои запросы
                    %li
                      = link_to destroy_user_session_path, :method => :delete do
                        %i.icon-off
                        Выход
              - else
                %li= link_to "Регистрация", login_path
                %li.dropdown
                  = link_to "#", :class => "dropdown-toggle", "data-toggle" => "dropdown" do
                    Войти
                    %b.caret
                  .dropdown-menu
                    = form_tag user_session_path, class: "minilogin" do
                      = text_field_tag 'user[email]', nil, placeholder: "E-Mail"
                      = password_field_tag 'user[password]', nil, placeholder: "Пароль"
                      %label.checkbox
                        = check_box_tag 'user[remember_me]'  
                        Запомнить меня
                      = submit_tag "Войти", class: 'btn-primary'
                      или с помощью
                      .providers
                        .thumbnail
                          = link_to image_tag('providers/twitter_32.png'), user_omniauth_authorize_path(:twitter), class: 'inline'
                          = link_to image_tag('providers/facebook_32.png'), user_omniauth_authorize_path(:facebook), class: 'inline'
                          = link_to image_tag('providers/vkontakte_32.png'), user_omniauth_authorize_path(:vkontakte), class: 'inline'

                    = link_to "Забыли пароль?", new_password_path('user')

    .container-fluid
      - if notice
        .alert.alert-success
          %button{:class => "close", "data-dismiss" => "alert"}×
          = notice
      - if alert
        .alert.alert-error
          %button{:class => "close", "data-dismiss" => "alert"}×
          = alert

      .row-fluid
        .span3
          = yield :sidebar

        .span9
          = yield
    
      %footer
        %p &copy; arrowcircle #{Date.today.year}
    /
      Javascripts
      \==================================================
    / Placed at the end of the document so the pages load faster
    = javascript_include_tag "application"
    #modal_window
