!!!
%html
  %head
    %title= title + ' | ' + 'МДС Музыка'
    %meta{ charset: 'utf-8' }
    %meta{ 'http-equiv': 'X-UA-Compatible', content: 'IE=edge' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1' }
    %meta{ name: :description, content: description + ' | ' + 'МДС Музыка' }
    %meta{ name: :tags, content: tags }
    - facebook_opengraph(metadata.og).each do |k, v|
      %meta{ property: k, content: v }
    - twitter_cards(metadata.og).each do |k, v|
      %meta{ property: k, content: v }
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag "application", "data-turbo-track": "reload", defer: true
  %body
    %header= render 'navigation'
    .container
      %main{ role: :main }
        = render 'flashes'
        = yield
    %footer.page-footer
      .footer-copyright.text-center.py-3
        &copy;
        = link_to 'arrowcircle', 'https://github.com/arrowcircle', rel: :_nofollow
        #{Date.today.year}
        = link_to 'Обсуждение на форуме', 'http://forum.mds-club.ru/threads/4126-mds-redde-ru', target: :_BLANK, rel: :_nofollow
        |
        = link_to "Разработка ivyknob.com", "https://ivyknob.com", target: :_BLANK, rel: :_nofollow
